@font-face {
  font-family: Ephesis;
  src: url(./assets/fonts/Ephesis-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsMed;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./assets/fonts/Poppins-Light.ttf);
}

::-webkit-scrollbar {
  width: 10px;
  height: 20px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c9c9;
  margin-top: 00px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 11, 54);
}

.orderBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 180px !important;
  padding: 10px 20px;
  background-color: #48C857;
  color: #FFF;
  border-radius: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border: none !important;
}
.orderRow{
  display: flex !important;
  align-items: center;
  font-family: PoppinsMed;

  justify-content: center !important;

}


.orderBtn:hover{

  transition: ease-in-out .3s;
  transform: translateY(-1vw) !important;



}


